/*重置样式*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color:transparent;
  font-family: Arial;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
em, i {
  font-style: normal;
}
b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input{
  outline: none;
  border: none;
  box-sizing: border-box;
  text-shadow: none;
  display: inline-block;
}
/*去掉input number上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
input, textarea {
  -webkit-user-modify: read-write-plaintext-only;
}
input:focus{ outline:none; }
input, button {
  outline: none;
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
.el-steps{
  width: 50%;
  background: #f2f2f2;
}
.el-step__head{
  padding-right: 0 !important;
}
.el-step__main{
  width: 100%;
  height: 2px;
  background: #f6a545;
}
.el-step__head.is-finish{
  background: #f6a545;
  border-radius: 100%;
}
.el-step__line{
  display: none;
}
.el-step__icon.is-text{
  border-radius: 100%;
  border: 2px solid #f6a545;
  cursor: pointer;
}
.el-step.is-simple .el-step__arrow{
}
.el-step__arrow::before{
  display: none !important;
}
.el-step__arrow::after{
  display: none !important;
}
